body
{
	background-color:#ffffff;
	font-family: verdana, sans-serif, arial;
	font-size: 10pt;
}


table
{
	width:100%;
}


th
{
	background-color:#eeeeee;
	margin-bottom: 5px;
}


tr
{
	vertical-align: top;
}


td
{
	padding: 20px;
}


/****************************************
CLASSES
.page
.header
.menu-block
.body
.footer
.navigation
.category-link
.isactive
.left-menu
.right-content
.openld-sponsor-cell
****************************************/

.page
{
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 780px;
	background-color:#ffffff;
}

.header
{
	padding: 5px;
}

.header h1
{
	text-align:center;
	font-size: 30pt;
}

.menu-block
{
	padding: 3px;
	margin-bottom: 25px;
	font-size: 10pt;
	font-weight: bold;
	background-color:#eeeeee;
}

.menu-block ul
{
	display: inline;
	border: none;
}

.menu-block li
{
	margin-left: 5px;
	padding-left: 5px;
	display: inline;
	list-style: none;
	border: none;
}

.menu-block a
{
	text-decoration: none;
}

.body
{
	padding: 5px;
}

.footer
{
	padding: 5px;
}

.category-link
{
	font-size: 13pt;
}

.openld-sponsor-cell
{

}